In [2]:
from sklearn import datasets
import pandas as pd

# Loading a toy dataset into a DataFrame
data = datasets.load_breast_cancer()
data_df = pd.DataFrame(data=data.data, columns=data.feature_names)

In [3]:
data_df1 = data_df[data.feature_names[:5]]
data_df2 = data_df[data.feature_names[5:10]]
data_df3 = data_df[data.feature_names[10:17]]
data_df4 = data_df[data.feature_names[17:30]]
target_df = pd.DataFrame(data=data.target, columns=["target"])

In [4]:
timestamps = pd.date_range(
    end=pd.Timestamp.now(), 
    periods=len(data_df), 
    freq='D').to_frame(name="event_timestamp", index=False)

In [5]:
data_df1 = pd.concat(objs=[data_df1, timestamps], axis=1)
data_df2 = pd.concat(objs=[data_df2, timestamps], axis=1)
data_df3 = pd.concat(objs=[data_df3, timestamps], axis=1)
data_df4 = pd.concat(objs=[data_df4, timestamps], axis=1)
target_df = pd.concat(objs=[target_df, timestamps], axis=1)

In [6]:
patient_ids = pd.DataFrame(data=list(range(len(data_df))), columns=["patient_id"])

# Adding the timestamp column to each DataFrame
data_df1 = pd.concat(objs=[data_df1, patient_ids], axis=1)
data_df2 = pd.concat(objs=[data_df2, patient_ids], axis=1)
data_df3 = pd.concat(objs=[data_df3, patient_ids], axis=1)
data_df4 = pd.concat(objs=[data_df4, patient_ids], axis=1)
target_df = pd.concat(objs=[target_df, patient_ids], axis=1)

In [7]:
data_df1.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,event_timestamp,patient_id
0,17.99,10.38,122.80,1001.0,0.11840,2021-01-07 21:16:24.800885,0
1,20.57,17.77,132.90,1326.0,0.08474,2021-01-08 21:16:24.800885,1
2,19.69,21.25,130.00,1203.0,0.10960,2021-01-09 21:16:24.800885,2
3,11.42,20.38,77.58,386.1,0.14250,2021-01-10 21:16:24.800885,3
4,20.29,14.34,135.10,1297.0,0.10030,2021-01-11 21:16:24.800885,4

In [8]:
data_df2.head()

,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,event_timestamp,patient_id
0,0.27760,0.3001,0.14710,0.2419,0.07871,2021-01-07 21:16:24.800885,0
1,0.07864,0.0869,0.07017,0.1812,0.05667,2021-01-08 21:16:24.800885,1
2,0.15990,0.1974,0.12790,0.2069,0.05999,2021-01-09 21:16:24.800885,2
3,0.28390,0.2414,0.10520,0.2597,0.09744,2021-01-10 21:16:24.800885,3
4,0.13280,0.1980,0.10430,0.1809,0.05883,2021-01-11 21:16:24.800885,4

In [9]:
data_df3.head()

,radius error,texture error,perimeter error,area error,smoothness error,compactness error,concavity error,event_timestamp,patient_id
0,1.0950,0.9053,8.589,153.40,0.006399,0.04904,0.05373,2021-01-07 21:16:24.800885,0
1,0.5435,0.7339,3.398,74.08,0.005225,0.01308,0.01860,2021-01-08 21:16:24.800885,1
2,0.7456,0.7869,4.585,94.03,0.006150,0.04006,0.03832,2021-01-09 21:16:24.800885,2
3,0.4956,1.1560,3.445,27.23,0.009110,0.07458,0.05661,2021-01-10 21:16:24.800885,3
4,0.7572,0.7813,5.438,94.44,0.011490,0.02461,0.05688,2021-01-11 21:16:24.800885,4

In [10]:
target_df.head()

   target            event_timestamp  patient_id
0       0 2021-01-07 21:16:24.800885           0
1       0 2021-01-08 21:16:24.800885           1
2       0 2021-01-09 21:16:24.800885           2
3       0 2021-01-10 21:16:24.800885           3
4       0 2021-01-11 21:16:24.800885           4

In [11]:
data_df1.to_parquet(path='data_df1.parquet')
data_df2.to_parquet(path='data_df2.parquet')
data_df3.to_parquet(path='data_df3.parquet')
data_df4.to_parquet(path='data_df4.parquet')
target_df.to_parquet(path='target_df.parquet')

In [12]:
data_df1.tail()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,event_timestamp,patient_id
564,21.56,22.39,142.00,1479.0,0.11100,2022-07-25 21:16:24.800885,564
565,20.13,28.25,131.20,1261.0,0.09780,2022-07-26 21:16:24.800885,565
566,16.60,28.08,108.30,858.1,0.08455,2022-07-27 21:16:24.800885,566
567,20.60,29.33,140.10,1265.0,0.11780,2022-07-28 21:16:24.800885,567
568,7.76,24.54,47.92,181.0,0.05263,2022-07-29 21:16:24.800885,568